<!doctype html>

<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>読書管理　　変更</h1>
      </div>
      <div id="main">
        <form method="post" action="/database_update" >
          <label for="bookname"> Book Name:</label>
          <input type="text" name="bookname"　value="{{ bookname }}"><br />
          <label for="author">Author:</label>
          <input type="text" name="author" value="{{ author }}"><br />
          <label for="publisher">Publisher:</label>
          <input type="text" name="publisher" value="{{ publisher }}"><br />
          <label for="purchasedate">Purchase Date:</label>
          <input type="text" name="purchasedate" value="{{ purchasedate }}"><br />
          <label for="price">Price:</label>
          <input type="text" name="price" value="{{ price }}"><br />
          <label for="memo">Memo:</label>
          <input type="text" name="memo" value="{{ memo }}"><br />
          <input type="hidden" name="bookdata_key" value="{{key}}">
          <input type="submit" name="update"  value="変更更新">
       </form>
        
	<hr>
        
      </div>
      
      
      <form method="POST" action="/database_delete">
        <input type="hidden" name="bookdata_key" value="{{key}}">
        <input type="submit" name="bookdelete" value="削除">
          

      </form>
      
    </div>
  </body>
</html>
