<!doctype html>

<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1> {{ bookname }}　変更</h1>
      </div>
      <div id="main">
        <form method="post" action="/database_update" >
          <label for="bookname"> 書名:</label>
          <input type="text" name="bookname"　value="{{ bookname }}" size="50"><br />
          <label for="author">著者:</label>
          <input type="text" name="author" value="{{ author }}" size="30"><br />
          <label for="publisher">出版社:</label>
          <input type="text" name="publisher" value="{{ publisher }}" size="50"><br />
          <label for="purchasedate">購入日:</label>
          <input type="text" name="purchasedate" value="{{ purchasedate }}" size="20"><br />
          <label for="price">値段:</label>
          <input type="text" name="price" value="{{ price }}" size="10"><br />
          <label for="memo">メモ:</label>
          <input type="text" name="memo" value="{{ memo }}" size="100"><br />
          <input type="hidden" name="bookdata_key" value="{{key}}">
          <input type="submit" name="update"  value="変更更新">
       </form>
        
	<hr>
        
      </div>
      
      
      <form method="POST" action="/database_delete">
        <input type="hidden" name="bookdata_key" value="{{key}}">
        <input type="submit" name="bookdelete" value="削除">
          

      </form>
      
    </div>
  </body>
</html>
