<!doctype html>

<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>蔵書データ追加処理</h1>
      </div>
      <div id="main">
        <form method="post" action="/database_new" >
          <label for="bookname">書名:</label>
          <input type="text" name="bookname" size="50"><br />
          <label for="author">著者:</label>
          <input type="text" name="author" size="30"><br />
          <label for="publisher">出版社:</label>
          <input type="text" name="publisher" size="50"><br />
          <label for="purchasedate">購入日:</label>
          <input type="text" name="purchasedate" size="20"><br />
          <label for="price">値段:</label>
          <input type="text" name="price" size="10"><br />
          <label for="memo">メモ:</label>
          <input type="text" name="memo" size="100"><br />
          <input type="submit" name="add"  value="追加">
       </form>
        
	<hr>
        
      </div>
      
      
      
    </div>
  </body>
</html>
